<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<title>Ticket GP TAPICERÍA</title>


<style>


body{

font-family: Arial, sans-serif;

font-size:12px;

width:280px;

margin:auto;

}



.center{

text-align:center;

}



hr{

border:none;

border-top:1px dashed black;

}



table{

width:100%;

}



td{

padding:3px;

}



@media print{


.no-print{

display:none;

}


}


</style>


</head>


<body>



<div class="center">


<img

src="{{ url_for('static', filename='img/logo.png') }}"

width="80"


>


<h3>

{{empresa[1]}}

<p>{{empresa[2]}}</p>

<p>{{empresa[4]}}</p>

</h3>


<p>

Orden #{{trabajo[0]}}

</p>


</div>




<hr>





<table>


<tr>

<td>
Cliente:
</td>

<td>
{{trabajo[1]}}
</td>


</tr>



<tr>

<td>
Mueble:
</td>

<td>
{{trabajo[2]}}
</td>


</tr>



<tr>

<td>
Tela:
</td>

<td>
{{trabajo[4]}}
</td>


</tr>



</table>





<hr>




<table>



<tr>

<td>
Precio:
</td>

<td>
RD$ {{trabajo[5]}}

</td>

</tr>




<tr>

<td>
Adelanto:
</td>

<td>
RD$ {{trabajo[6]}}

</td>

</tr>




<tr>

<td>
Balance:
</td>

<td>
RD$ {{trabajo[9]}}

</td>

</tr>



</table>




<hr>



<p>

Estado:

{{trabajo[7]}}

</p>




<p>

Entrega:

{{trabajo[8]}}

</p>




<hr>



<div class="center">


Gracias por preferirnos


<br>

GP TAPICERÍA


</div>

<script>

window.onload=function(){

window.print();

}

</script>

</body>

<body>

<div class="no-print" style="text-align:center; margin:15px;">

<button onclick="window.print()">

🖨️ Imprimir Ticket

</button>

<button onclick="history.back()">

← Volver

</button>

</div>

<div class="center">

<img
src="{{ url_for('static', filename='img/logo.png') }}"
width="80">

<h3>GP TAPICERÍA</h3>


</html>